---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import TopTools from "../components/TopTools.astro";
import FAQ from "../components/FAQ.astro";
import { organizationSchema } from "../lib/seo/websiteSchema";
---

<Layout schema={organizationSchema}>
	<main>
		<Hero />
		<Benefits />
		<TopTools />
		<FAQ />
	</main>
</Layout>
